backend/__pycache__

# Logs
pilih-frontend/logs
pilih-frontend/*.log
pilih-frontend/npm-debug.log*
pilih-frontend/yarn-debug.log*
pilih-frontend/yarn-error.log*
pilih-frontend/pnpm-debug.log*
pilih-frontend/lerna-debug.log*

# build artifacts and folders
pilih-frontend/node_modules
pilih-frontend/dist
pilih-frontend/package-lock.json
.python-version
.DS_Store
pilih-frontend/dist-ssr
pilih-frontend/*.local
.env
.venv



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
